{% extends "base.html" %}

{% block title %}Register{% endblock %}


{% block content %}
<div x-data="eventList()" x-init="init()">
    <div>
        <button @click="fetchEvents()">Load Events</button>
        <select x-model="filter">
            <option value="">All Events</option>
            <option value="past">Past Events</option>
            <option value="future">Future Events</option>
        </select>
    </div>
    <div x-show="loading">Loading...</div>
    <template x-for="event in events" :key="event.id">
        <div>
            <h3 x-text="event.name"></h3>
            <p x-text="event.description"></p>
            <p>Start: <span x-text="event.start_date"></span></p>
            <p>End: <span x-text="event.end_date"></span></p>
            <button @click="registerToEvent(event.id)">Register</button>
        </div>
    </template>
</div>

<script>
    function eventList() {
        return {
            events: [],
            loading: false,
            filter: '',
            init() {
                if (!localStorage.getItem('accessToken')) {
                    window.location.href = "/login.html"; // Redirect to login if not logged in
                }
            },
            fetchEvents() {
                this.loading = true;
                axios.get(`http://127.0.0.1:8000/api/events/`, {
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('accessToken')}`
                    }
                })
                .then(response => {
                    this.events = response.data;
                })
                .catch(error => {
                    console.error('Error fetching events:', error);
                    alert('Error loading events.');
                })
                .finally(() => this.loading = false);
            },
            registerToEvent(eventId) {
                axios.post(`http://127.0.0.1:8000/api/events/${eventId}/register/`, {}, {
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('accessToken')}`
                    }
                })
                .then(() => {
                    alert('Registration successful!');
                    this.fetchEvents();
                })
                .catch(error => {
                    console.error('Error registering for event:', error);
                    alert('Error registering for event.');
                });
            }
        }
    }
</script>

{% endblock %}
