{% extends "base.html" %}

{% block title %}Register{% endblock %}


{% block content %}

<button>
    <a href="/register/">Register</a>
</button>
<div x-data="loginForm()">
    <form @submit.prevent="submitForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" x-model="formData.username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" x-model="formData.password" required>
        </div>
        <div x-show="loading">Logging in...</div>
        <div x-show="error" x-text="errorMessage"></div>
        <button type="submit">Login</button>
    </form>
</div>

<script>
    function loginForm() {
        return {
            formData: {
                username: '',
                password: '',
            },
            loading: false,
            error: false,
            errorMessage: '',
            submitForm() {
                this.loading = true;
                axios.post('http://127.0.0.1:8000/api/auth/login/', this.formData)
                    .then(response => {
                        localStorage.setItem('accessToken', response.data.access);
                        localStorage.setItem('refreshToken', response.data.refresh);
                        window.location.href = "/";
                    })
                    .catch(error => {
                        this.error = true;
                        this.errorMessage = error.response.data.message || "An error occurred during login.";
                    })
                    .finally(() => this.loading = false);
            }
        }
    }
</script>

{% endblock %}
