{% extends "base.html" %}

{% block title %}Register{% endblock %}


{% block content %}

<button>
    <a href="/login/">Login</a>
</button>
<div x-data="registerForm()">
    <form @submit.prevent="submitForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" x-model="formData.username" required>
        </div>
        <div>
            <label for="password1">Password:</label>
            <input type="password" id="password1" x-model="formData.password1" required>
        </div>
        <div>
            <label for="password2">Confirm Password:</label>
            <input type="password" id="password2" x-model="formData.password2" required>
        </div>
        <div x-show="loading">Registering...</div>
        <div x-show="error" x-text="errorMessage"></div>
        <button type="submit">Register</button>
    </form>
</div>

<script>
    function registerForm() {
        return {
            formData: {
                username: '',
                password1: '',
                password2: '',
            },
            loading: false,
            error: false,
            errorMessage: '',
            submitForm() {
                if (this.formData.password1 !== this.formData.password2) {
                    this.error = true;
                    this.errorMessage = "Passwords do not match.";
                    return;
                }
                this.error = false;
                this.loading = true;
                axios.post('http://127.0.0.1:8000/api/registration/', this.formData)
                    .then(response => {
                        window.location.href = "http://127.0.0.1:8000/login/";
                    })
                    .catch(error => {
                        this.error = true;
                        this.errorMessage = (error.response && error.response.data && error.response.data.message) || "An error occurred during registration.";
                    })
                    .finally(() => this.loading = false);
            }
        }
    }
</script>

{% endblock %}
